
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700&family=Space+Mono&display=swap');
@import '~antd/dist/antd.css';

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
/* app header */
.ant-layout-header {
    padding: 0rem 1rem 0rem 1rem;
    background-color: #ffffff;
}
/* app header */
/* app content  */
.app-content {
    margin:0.5rem 0.5rem 0.5rem 0.5rem;
    padding:0.5rem;
    background-color: #ffffff;
    min-height: 100vh;
}
.auth-content {
    margin:0rem 0.5rem 0rem 0.5rem;
    padding:10% 0rem 0% 0rem;
    background-color: #ffffff;
}
/* app content  */

/* sidebar */
.ant-layout-sider {
    background-color: #ffffff;
    min-height: 100vh;
}
/* sidebar */